.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
}
.left-main-container,
.right-main-container {
  flex: 0 0 48%;
  padding: 20px;
  border: 2px solid #fff;
  border-radius: 50px;
}
.right-main-container {
  display: flex;
}