.card {
  flex: 0 0 22%;
  margin: 0.5rem !important;
}
.card-header {
  padding: 0 0.6rem !important;
}
.card-body {
  padding: 0.3rem !important;
  font-size: 0.7rem !important;
  p {
    margin: 0 0 0.5rem 0!important;
  }
}
